services:
  web:
    build:
      context: /home/tiamat/devops/HLC/25-26/Docker/Caronte
      dockerfile: ./dockerfile/base/ubbase
    image: kuklusklan/ubbase
      # args: #Variables en DFILE para la construcion de la imagen
        # - USUARIO=pepe
    container_name: ${CONTENEDOR}
  #   environment:
  #     - USUARIO=pepen
  #     - PASSWORD=pswpepian
    env_file:
      - ./.env
    volumes:
      - ./logs:/root/logs
    networks: 
      netcaronte:
        ipv4_address: ${IP}

networks:
  netcaronte:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}